* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(151, 82, 82);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    color: white;
    text-shadow: 3px 3px 0px black;
    padding: 10px;
}
